<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laundry">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission. READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginScreen.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.DryCleaner.DryCleanerActivity"
            android:label="DryCleaner"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Services.ServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyCart.MyCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myOrder.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyPayment.PaymentActivity"
            android:screenOrientation="portrait" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- &lt;!&ndash;android:value="@integer/google_play_services_version" />&ndash;&gt; -->
        <!-- <meta-data -->
        <!-- <string name="API_KEY">AIzaSyD6s-Dnu0QwVRtwDfcO9jz2OKb5kk8JgT8</string> -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyBSF8kl1jJw4acWobsQH6sfcZsRQj9x0wQ " /> -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBSF8kl1jJw4acWobsQH6sfcZsRQj9x0wQ" />

        <activity
            android:name=".ui.forgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.changePassword.ChangePaawordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myOrderDetails.MyOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.termsConditions.TermConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyPayment.PaymentMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Thanku.ThankuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.editProfile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.offer.OfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.manageAddress.ManageAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FAQ.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Contact.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Pick_up.PickupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.AddNewAddress.AddNewAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.currentLocation.CurrentLocationMapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.Services.SelectLocActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".ui.currentLocation.AddAddressActivity" />
        <!--<activity android:name=".ui.chat.chatActivity" />-->
        <activity android:name=".ui.Chat.ChatActivity"></activity>
    </application>

</manifest>